@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'CircularSpotifyText-Light';
	src: url('../public/fonts/CircularSpotifyText-Light.otf');
}

@font-face {
	font-family: 'CircularSpotifyText-Medium';
	src: url('../public/fonts/CircularSpotifyText-Medium.otf');
}

@font-face {
	font-family: 'CircularSpotifyText-Bold';
	src: url('../public/fonts/CircularSpotifyText-Bold.otf');
}
